<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Node.js Socket.io Chat Application</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

   <style>
      .chatArea
      {
         height: 25vh;
         overflow: scroll;
      }
      .well
      {
         text-align: center;
      }
      .well div
      {
         width: 100px;
      }
   </style>
      
   <div class="container">
      <h1 class="jumbotron">
         Node js Socket io Chat Application
         <% if(!everyauth.loggedIn) { %>
               <h4>Faça <a href="/login">login</a> 
                  (
                  <a href="/auth/facebook">Facebook</a> 
                  ) 
                  ou <a href="/register">registe-se</a>.</h4>
         <% } else { %>
               <h4>Bem-vindo, 
               <% if(everyauth.user) { %> 
               <%    user = everyauth.user; %>
               <% } else if(everyauth.facebook) { %>
               <%    user = everyauth.facebook.user; %>
               <% } %>

               <%= user.name %>!
               </h4> <a href="/logout">Logout</a>

               <div class="row" style="margin-top: 70px;">
                  <div class="col-md-4"></div>
                  <div class="col-md-6">
                     <h3>Mensagens pessoais</h3>
                     <div class="chatArea" id="prChat">
                        <% for(var i = 0, len = prMessages.length; i < len ; i++) { %>
                           <div class="well">
                              <p>
                                 <%= prMessages[i].sender %>
                              </p>                     
                              <p>
                                 <%= prMessages[i].text %>
                              </p>
                              <p>
                                 <%= prMessages[i].receiver %>
                              </p>
                              <p>
                                 <%= prMessages[i].timestamp %>
                              </p>
                           </div>                     
                        <% } %>
                     </div>
                  </div>
               </div>                                   
         <% } %>
      </h1>
      
      <div class="row" style="margin-top: 70px;">
         <div class="col-md-4"></div>
         <div class="col-md-6">      
            <h3>Chat público</h3>          
            <div class="chatArea" id="pubChat">
               <% for(var i = 0, len = pubMessages.length; i < len ; i++) { %>
                  <div class="well">
                     <div style="float:left;">
                        <% if(pubMessages[i].name) { %>
                           <%= pubMessages[i].name %>
                        <% } else { %>
                           Desconhecido
                        <% } %>
                     </div>                     
                     <div style="display: inline-block; margin:0 auto;">
                        <%= pubMessages[i].text %>
                     </div>
                     <div style="float:right;">
                        <i><%= pubMessages[i].timestamp %></i>
                     </div>
                  </div>                     
               <% } %>
            </div>
            <form id="myForm">
               <div class="form-group">
                  <textarea rows="5" id="txt" cols="5" class="form-control"></textarea>
               </div>
               <div class="form-group">
                  <button type="submit" class="btn btn-success">Send</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
   <script>
      jQuery(document).ready(function() {
         const socket = io.connect();
         const form = jQuery('#myForm');
         const txt = jQuery('#txt');
         const pubChat = jQuery('#pubChat');
         const prChat = jQuery("#prChat");

         form.submit(function(e) {
            e.preventDefault();
            socket.emit('sending message', txt.val());
            txt.val('');
         });

         socket.on('public message', function(data){
            pubChat.prepend('<div class="well">'+
                     '<div style="float:left;">'+
                        "Desconhecido"+
                     '</div>'+                     
                     '<div style="display: inline-block; margin:0 auto;">'+
                        data.text+
                     '</div>'+
                     '<div style="float:right;">'+
                        '<i>'+
                           data.timestamp +
                        '</i>'+
                     '</div>'+
                  '</div>');
         });

         socket.on('private message', function(data){
            pubChat.prepend('<div class="well">'+
                     '<p>'+
                        data.sender+
                     '</p>'+                     
                     '<p>'+
                        data.text+
                     '</p>'+     
                     '<p>'+
                        data.receiver+
                     '</p>'+ 
                     '<p>'+
                        data.timestamp+
                     '</p>'+                              
                  '</div>');
         });         
      });
   </script>
</body>
</html>
